$white: #FFFFFF;
$grey-900: #48556A;
$grey-500: #6E8098;
$grey-400: #9DAEC2;
$grey-200: #ECF2F8;

.bg-white {
    background-color: $white;
}

.bg-grey-200 {
    background-color: $grey-200;
}

.grey-400 {
    color: $grey-400;
}

.bg-grey-500 {
    background-color: $grey-500;
}

.grey-500 {
    color: $grey-500;
}

.grey-900 {
    color: $grey-900;
}